<style>
    #fine-uploader {
        margin-top:15px;
        padding-left:20px;
        padding-right:20px;
        min-height: 200px;
    }
    .header-cat {
        margin: 15px 0px 30px;
    }
    .icon-file {
        margin-right: 15px;
    }
    #newFolderInput {
        margin-left:10px;
        margin-bottom: 0px;
    }
    #fileTable {
        border-top:none;
    }
    .file-controls {
        line-height:35px;
    }
    #appContent.file-controls {
        margin-top:10px;
    }
    .table thead tr {
        margin: 10px 0;
        font-family: inherit;
        line-height: 20px;
        color: inherit;
        text-rendering: optimizelegibility;
        font-size: 17.5px;
    }
    .main-cat {
        font-family: inherit;
        line-height: 20px;
        color: #999;
        text-rendering: optimizelegibility;
        font-size: 17.5px;
    }
    tbody tr .btn {
        cursor: pointer;
    }
    tbody tr i {
        cursor: pointer;
    }
    tbody .name-col {
        min-width:225px;
    }
    thead .first-col-head {
        min-width: 30px;
    }
    thead .name-col-head {
        min-width:225px;
    }
    #emptyTableView {
        font-size:17.5px;
        color:#999;
        cursor:pointer;
    }
    #emptyTableView i {
        margin-left:2%;
    }
</style>

<div id="ViewModel">
    <div class="container">
        <div class="row-fluid" >

            <div id="careNav" class="span3 fix-height">
                <!--<p>STATIC COL SPAN3</p>-->
            </div>

            <div id="appContent" class="span9 fix-height">
                <div class="header-cat">
                    <span class="span4 main-cat">FILES - DISCHARGE NOTES</span>
                    <span class="offset4 file-controls">
                        <i title="New File" data-placement="top" data-bind="click:ModalViewModel.showModal" class="icon-file"></i>
                        <i title="New Folder" data-placement="top" data-bind="click:$root.MainViewModel.showFolderInput" class="icon-folder-open"></i>
                        <input type="text" class="input-medium" id="newFolderInput" data-bind="visible:$root.MainViewModel.createNewFolder, value:$root.MainViewModel.newFolderName" />
                        <i data-bind="visible:$root.MainViewModel.createNewFolder, click:$root.MainViewModel.createFolder" class="icon-plus"></i>
                    </span>
                </div>

                <div>
                    <!-- File(s) table-->
                    <table class="table" >
                        <thead>
                            <tr class=" table-head">
                        <td class="first-col-head">
                            <button class="btn btn-mini btn-info" data-bind="visible:$root.MainViewModel.folderNav().length > 1, click:$root.MainViewModel.navBack">
                                <i class="icon-white icon-chevron-left"></i>
                            </button>
                        </td>
                        <td class="name-col-head">Name</td>
                        <td>Type</td>
                        <td><i title="Download File" data-placement="top" class="icon-download-alt"></i></td>
                        <td>&nbsp;</td>
                        </tr>
                        </thead>
                        <tbody data-bind="foreach: $root.MainViewModel.folders, visible: ($root.MainViewModel.files().length > 0 && $root.MainViewModel.folders().length > 0)">
                            <tr>
                                <td>
                                    <i data-bind="visible: MimeType == 'folder', click:$root.MainViewModel.openFolderWrap" class="icon-folder-close"></i>
                                </td>
                                <td class="name-col" data-bind="text: Filename"></td>
                                <td data-bind="text: MimeType"></td>
                                <td data-bind="click:$root.MainViewModel.zipFolder">&nbsp;</td>
                                <td><i title="Delete" data-placement="right" data-bind="click:$root.MainViewModel.removeFolder" class="icon-trash"></i></td>
                            </tr>
                        </tbody>
                        <tbody id="fileTable" data-bind="foreach: $root.MainViewModel.files, visible: ($root.MainViewModel.files().length > 0 && $root.MainViewModel.folders().length > 0)">
                            <tr>
                                <td>
                                    <a id="imgblow" data-bind="attr: { href: '/S3Web/GetFile?FileName=' + Filename + '&S3FileName=' + Key }">
                                        <i data-bind="click:$root.MainViewModel.showImage, visible: MimeType == 'image/jpeg'" class="icon-fullscreen"></i>
                                    </a>
                                </td>
                                <td class="name-col" data-bind="text: Filename"></td>
                                <td data-bind="text: MimeType"></td>
                                <td><a data-bind="attr: { href: '/S3Web/GetFile?FileName=' + Filename + '&S3FileName=' + Key }" class="btn btn-small" target="_blank"><i class="icon-download"></i></a></td>
                                <td><i data-bind="click:$root.MainViewModel.removeFile" class="icon-trash"></i></td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Empty Table? Show message-->
                    <div id="emptyTableView" data-bind="visible: ($root.MainViewModel.files().length < 1 && $root.MainViewModel.folders().length < 1)">
                            <p class="text-center">ADD A FILE <br/><br /><i class="icon-file"></i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- MODAL -->
    <!-- Create a modal via custom binding -->
    <div data-bind="bootstrapModal:ModalViewModel.modal" data-keyboard="false" data-backdrop="static"></div>

    <!-- Modal template -->
    <script id="myModal" type="text/html">
        <div class="modal-header">
            <button type="button" class="close" data-bind="click:close" aria-hidden="true">&times;</button>
            <h3 data-bind="html:header"></h3>
        </div>
        <!-- Fine Uploader binding -->
        <div id="fine-uploader"></div>
        <div class="modal-footer">
            <a href="#" class="btn" data-bind="click:close,html:closeLabel"></a>
            <a href="#" class="btn btn-primary" data-bind="click:action,html:primaryLabel"></a>
        </div>
    </script>        

</div>

