<style>
    
</style>

<div id="ViewModel">
    <div class="container">
        <div class="row-fluid" >

            <div id="careNav" class="span3 fix-height">
                <!--<p>STATIC COL SPAN3</p>-->
            </div>

            <div id="appContent" class="span9 fix-height">
                <div class="header-cat">
                    <span class="span4 main-cat">Files - Discharge Notes</span>
                    <span class="offset3 file-controls">
                        <i title="New File" data-placement="top" data-bind="click:ModalViewModel.showModal" class="icon-file"></i>
                        <i title="New Folder" data-placement="top" data-bind="click:$root.MainViewModel.showFolderInput" class="icon-folder-open"></i>
                        <input type="text" class="input-medium" id="newFolderInput" data-bind="visible:$root.MainViewModel.createNewFolder, value:$root.MainViewModel.newFolderName" />
                        <i data-bind="visible:$root.MainViewModel.createNewFolder, click:$root.MainViewModel.createFolder" class="icon-plus"></i>
                    </span>
                </div>

                <!-- File(s) table -->
                <div id="table-container">
                    <!-- File(s) table header -->
                    <ul class="col-heads inline row-fluid">
                        <li class="span1">
                            <button class="btn btn-mini btn-info" data-bind="visible:$root.MainViewModel.data().length > 1, click:$root.MainViewModel.navBack">
                                <i class="icon-white icon-chevron-left"></i>
                            </button>
                        </li>
                        <li class="span5">NAME</li>
                        <li class="span3">TYPE</li>
                        <li class="span2"><i title="Download File" data-placement="top" class="icon-download-alt"></i></li>
                        <li></li>
                    </ul>
                    <!-- Container for all items -->
                    <div id="table-item-container">
                        <!-- Folder(s) table body-->
                        <ul class="unstyled folders-body" data-bind="foreach: $root.MainViewModel.folders, visible: ($root.MainViewModel.folders().length > 0)">
                            <li class="row-fluid">
                                <span class="span1"><i data-bind="visible: MimeType == 'folder', click:$root.MainViewModel.navIn" class="icon-folder-close"></i></span>
                                <span class="span5 name-col" data-bind="text: Filename"></span>
                                <span class="span3" data-bind="text: MimeType"></span>
                                <span class="span2"></span>
                                <span class="span1"><i data-bind="click:$root.MainViewModel.removeFolder" class="icon-trash"></i></span>
                            </li>
                        </ul>
                        <!-- File(s) table body -->
                        <ul class="unstyled files-body" data-bind="foreach: $root.MainViewModel.files, visible: ($root.MainViewModel.files().length > 0)">
                            <li class="row-fluid list-col">
                                <span class="span1">
                                    <a id="imgblow" data-bind="attr: { href: '/S3Web/GetFile?FileName=' + Filename + '&S3FileName=' + Key }">
                                        <i data-bind="click:$root.MainViewModel.showImage, visible: MimeType == 'image/jpeg'" class="icon-fullscreen"></i>
                                    </a>
                                </span>
                                <span class="span5 name-col" data-bind="text: Filename"></span>
                                <span class="span3" data-bind="text:MimeType"></span>
                                <span class="span2">
                                    <a data-bind="attr: { href: '/S3Web/GetFile?FileName=' + Filename + '&S3FileName=' + Key },  target:'_blank'" class=" btn btn-mini"><i class="icon-download"></i></a>
                                </span>
                                <span class="span1"><i data-bind="click:$root.MainViewModel.removeFile" class="icon-trash"></i></span>
                            </li>
                        </ul>
                    </div>
                </div> <!-- End .table-container -->

                <!-- Empty Table? Show message-->
                <div id="emptyTableView" data-bind="visible: ($root.MainViewModel.files().length < 1 && $root.MainViewModel.folders().length < 1), click: ModalViewModel.showModal">
                    <p class="text-center">[ADD A FILE] <br /><br /><i class="icon-file"></i></p>
                </div>

            </div>
        </div>
    </div>
    <!-- MODAL -->
    <!-- Create a modal via custom binding -->
    <div data-bind="bootstrapModal:ModalViewModel.modal" data-keyboard="false" data-backdrop="static"></div>

    <!-- Modal template -->
    <script id="myModal" type="text/html">
        <div class="modal-header">
            <button type="button" class="close" data-bind="click:close" aria-hidden="true">&times;</button>
            <h3 data-bind="html:header"></h3>
        </div>
        <!-- Fine Uploader binding -->
        <div id="fine-uploader"></div>
        <div class="modal-footer">
            <a href="#" class="btn" data-bind="click:close,html:closeLabel"></a>
            <a href="#" class="btn btn-primary" data-bind="click:action,html:primaryLabel"></a>
        </div>
    </script>        

</div>

